<div style="margin-bottom: 100px">
  <h1>Your Current Shopping Cart Items</h1>

<!-- show the cart -->
<div class="simpleCart_items "></div>
<!-- create a checkout button -->

SubTotal: <span id="simpleCart_total" class="simpleCart_total"></span> <br />
Tax (7%): <span id="simpleCart_tax" class="simpleCart_tax"></span> <br />
Shipping ($1.25/Item): <span id="simpleCart_shipping" class="simpleCart_shipping"></span> <br />
-----------------------------<br />
Final Total: <span id="simpleCart_grandTotal" class="simpleCart_grandTotal"></span> <br />

<button href="javascript:;" class="simpleCart_checkout btn btn-info">Checkout</></button>
<!-- button to empty the cart -->
<button href="javascript:;" class="simpleCart_empty btn btn-info">Empty The Cart</a></button>
</div>
